@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@import './navigation';
@import './breakpoints';
@import './footer';
@import './variable';
@import './responsive';
@import './mixin';


html {
    --bg: #FBFAF8;
    --font: #1a1a1d;
}
html[data-theme='dark'] {
    --bg: #1a1a1d;
    --font: #FBFAF8;
}

html.transition,
html.transition * {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


* {
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    height: 100vh;
    @include flexCol;
    @include bgFont;
}

.initial {
    text-align: center;
    font-size: larger;
}
button {
    @include bgFont;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    width: 100%;
}

input {
    all: unset;
    appearance: none;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    @include flexCol;
}


/* Common */
.error__margin {
    @include error;
    margin-bottom: 1rem;
}
.error {
    @include error;
}

.submitBtn {
    @include submitBtn;
}


.factoryInput {
    display: inline-block;
    @include basicInput;
    @include border;
    @include bgFont;
}

.factoryCancle {
    background-color: $primary-red;
}

.wrapper {
    width: 100vw;
    height: calc(100vh - 6rem);
    padding: 3rem 2rem;
    overflow-y: auto;
}

/* Home */
.factoryContainer {
    @include flexCol;
    width: 100%;
    
    .factoryInput__container {
        @include flexCol;
        width: 100%;
    }
    
    .factoryAttachment__container {
        width: 100%;
        @include flexCol;

        #attach-file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            
            &:focus + label {
                cursor: pointer;
            }
            & + label {
               display: block; 
               width: 100%;
               text-decoration: none;
               margin: 1rem 0 1rem 0;
               @include btn;
               @include submitBtn;
               svg { margin-right: 1rem; }
            }
        }

        .attachmentImg {
            margin: 0 auto;
            width: 200px;
            height: auto;
            object-fit: contain;
            border-radius: 30px;
            margin-bottom: 1rem;
        }
    }
}

.displayContainer {
    width: 100%;
    @include flexCol;
    .tweet {
        width: 100%;
        .tweetContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 30px;
            padding: 10px;
            margin-bottom: 1rem;            
            padding: 1rem;
            @include border;
            @include bgFont;
            .tweetEdit {
                @include flexCol;
                .editInput {
                    width: 100%;
                    padding: 2px;
                    @include border;
                }
            }

            .factoryImg {
                width: 90%;
                height: auto;
                border-radius: 30px;
                margin: 10px auto;
            }
            .factoryBtns {
                align-self: flex-end;
                .factoryBtn {
                    border: none;
                    border-radius: 50%;
                    padding: 7px;
                    width: 30px;
                    height: 30px;
                }
                .editBtn {
                    background-color: $primary-blue;
                    margin-right: 10px;
                }
                .deleteBtn {
                    background-color: tomato;
                }
            }
        }
    }
}


 /* Profile */
.profileWrapper {
    max-width: 335px;
    .profileBtn {
        width: 100%;
        background: $primary-red;
        @include btn;
    }
}

/* Auth */
.authWrapper {
    padding: 0 2rem;
    max-width: 335px;
    .authForm {
        padding-top: 1rem;
    }
    .authSwitch {
        display: block;
        width: 100%;
        @include switch;
        @include border;
        @include btn;
    }
    .authBtns {
        width: 100%;
        display: block;
        .authBtn {
            width: 100%;
            background: lightgray;
            color: var(--font);
            @include btn;
            svg { margin-right: 1rem; }
        }
        .authBtn:last-child {
            margin-top: 10px;
        }
    }    
    /* AuthForm */
    .iconWrapper {
        display: flex;
        justify-content: center;
    .twitterIcon {
        color: $primary-blue;
        }
    }
}


